@model CoreLogic.News
@{
    ViewData["Title"] = "Delete";
}

<div class="container">

<h3 class="text-align:center">هل انت متأكد انك تريد مسح هذا الخبر ؟</h3>
<div>
    <h4>الأخبار</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Topic)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Topic)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.ID)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="مسح" class="btn btn-danger" /> |
        <a asp-action="Index">العودة الى القائمة السابقة</a>
    </form>
</div>
</div>